apiVersion: v1
kind: Pod
metadata:
  name: vrbkapages-pod
  labels:
    app: vrbkapages-service
spec:
  containers:
    - name: sentinel-proxy
      image: ghcr.io/raskell-io/sentinel:26.02_4
      ports:
        - containerPort: 8443
          hostPort: 8443
        - containerPort: 8080
          hostPort: 8080
      volumeMounts:
        - name: config-vol
          mountPath: /etc/sentinel/sentinel.kdl:z
          readOnly: true
        - name: cert-vol
          mountPath: /etc/sentinel/certs:z
          readOnly: true
        - name: static-vol
          mountPath: /www:z
          readOnly: true

  volumes:
    - name: config-vol
      hostPath:
        path: /home/opc/vrbkapages/config/
        type: Directory
    - name: cert-vol
      hostPath:
        path: /home/opc/certificates
        type: Directory
    - name: static-vol
      hostPath:
        path: /home/opc/vrbkapages/dist
        type: Directory
